*
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}
.navbar
{
    height: 60px;
    width:100%;
    background-color: #0f1111;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo
{
    height: 53px;
    width: 113px;
margin-left: 0px;
}
.logo
{
    background-image: url(amazonlogo.png);
    background-size: cover;
    height: 53px;
    width: 111px;
 
     
}

.border
{
 border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;

}
/* box2 */
.nav-address
{
   margin: 5px 2px 5px 10px;
    font-size: 0.85rem;
    font-size: small;
  
}
.add-icon
{
    font-size: 1rem;
    display: flex;
    margin-left: 2px;
    margin-bottom: 2px;
    align-items: center;
    
}
.addfir
{
    color: #cccc;
  margin-left: 15px; 
  

}
.addsec
{
    color: white;
    margin-left: 1px;
    
}
/* box3 */
.nav-search
{
    display: flex;
    background-color: rgb(248, 163, 66);
    width: 800px;
    height: 38px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 3px solid  rgb(248, 163, 66);

}
.search-select
{
   
    background-color:#f3f3f3;
   width: 50px;
    text-align: center;
   
   border: none;
   
}
.search-input
{
    width: 100%;
    font-size: 14px;
    border: none;


}


.search-icon
{
    width: 50px;
    height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #0f1111;
   font-size: 1.3rem;
   border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
 
}
.flag
{
    background-image: url(javascripe/flag.png);
  
 
    width: 25px;
    height: 10px;
    margin: 0px 2px 1px 0px ;
background-size: cover;
    
}
.select{
    margin-left: 45px;
    margin-top: 15px;

}
.nav-signin
{
    font-size: 0.7rem;

}
.nav-second
{
    font-size:0.85rem;
    font-weight: 700;
}
.car-t
{
    font-weight: 700;
    display: inline-block ;
    font-size: 16px;
   
}
.cart-border{
    font-size: 24px;
}

/****panel***/
.panel
{
    height: 39px;
    width: 1600px;
    color: #ffff;
    display:flex;
align-items: center;
justify-content: space-evenly;
    background-color: #232f3e;
}

.a{
display: inline-block;
}

.panel-ops p
{
    display: inline-block;
    font-size: 14px;
    margin-left:15px ;
}

.panel-ops 
{
    width:70%; 
}
.shop-deals
{
    font-size: 16px;
    font-weight: 700;
} 

/* hero section */
.hero-section
{
    background-image: url(one.jpg);
    
    
    height: 320px;
    margin-left: 10px;
    width: 1500px;
    background-size: cover;

}
.line
{
    background-color:#f5f6f6;
    position: relative;
    top: 250px;
    margin-left: 15px;
    text-align: center;
    height: 40px;
    width: 1460px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line p{
    font-size: 15px;
}

/* shop section */
.box{
    height: 400px;
    background-color: aliceblue;
    width: 23%;
    margin-top: 10px;
    
}

.hero-shop
{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

 .box-img
 {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 8px; 
 }
 .box-content
 {
    margin: 6px 10px 6px 10px;
 }
